:root {
  --fundo: #056585;
  --fundo-sombra: #6b949e;
  --azul-sombra: #012b35;
  --azul-luz: #447784;
  --preto: #222;
  --preto-sombra: #000;
  --preto-luz: #555;
  --preto-luz1: #777;
  --preto-luz2: #999;
  --vermelho: #802215;
  --vermelho-sombra: #550a00;
  --vermelho-luz: #aa4639;
  --vermelho-luz1: #c0685d;
  --vermelho-luz2: #c5837a;
}

body {
  /* margin: 0; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.description {
  width: 280px;
  height: 100px;
  position: absolute;
  font-size: 16px;
}

#containerTabela {
  display: flex;
  /* border: 2px solid black; */
  border-right: 5px solid var(--azul-sombra);
  border-left: 2px solid var(--azul-sombra);
  text-align: center;
  width: 322px;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  height: 230px;
  position: relative;
  background-color: white;
  z-index: 1;
}

#posBolas {
  /* border: 2px solid black; */
  text-align: center;
  width: 317px;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.posBolasSuperior {
  flex-basis: 14.2857143%;
  border-left: 4px solid white;
  display: flex;
  justify-content: space-between;
}

.colunas {
  flex-basis: 14.2857143%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column-reverse;
  border-left: solid 5px var(--azul-sombra);
  border-bottom: solid 10px var(--fundo);
  background-color: var(--fundo-sombra);
}

.celulas {
  flex-basis: 16.6666667%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  vertical-align: middle;
  display: flex;
  border-radius: 100%;
  background-color: white;
}

.bolaVermelha {
  background-image: radial-gradient(
    farthest-corner at 70% 15%,
    var(--vermelho-luz2),
    var(--vermelho-luz),
    var(--vermelho-luz),
    var(--vermelho),
    var(--vermelho-sombra)
  );
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
}

.bolaPreta {
  background-image: radial-gradient(
    farthest-corner at 60% 15%,
    var(--preto-luz2),
    var(--preto-luz1),
    var(--preto-luz1),
    var(--preto-luz),
    var(--preto),
    black
  );
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  z-index: initial;
}

.bolaNovaPreta {
  background-image: radial-gradient(
    farthest-corner at 70% 15%,
    var(--preto-luz2),
    var(--preto-luz1),
    var(--preto-luz1),
    var(--preto-luz),
    var(--preto),
    black
  );
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  animation: 1s linear 0s infinite alternate balls;
}

.bolaNovaVermelha {
  background-color: darkred;
  background-image: radial-gradient(
    farthest-corner at 70% 15%,
    var(--vermelho-luz2),
    var(--vermelho-luz),
    var(--vermelho-luz),
    var(--vermelho),
    var(--vermelho-sombra)
  );
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  color: white;
  animation: 1s linear 0s infinite alternate balls;
}

#buttonRestart {
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  background-color: #047094;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

#buttonRestart:hover {
  opacity: 0.4;
  cursor: pointer;
}

#mensagem {
  margin: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.playerText {
  text-align: center;
  margin-bottom: 35px;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  color: red;
  animation: alternate infinite 1s selected;
}

#msgWin {
  text-align: center;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  display: none;
  animation: 1s linear 0s infinite alternate victory;
}

@keyframes selected {
  from {
    transform: scale(0.8);
  }
  to {
  }
}

@keyframes victory {
  from {
    transform: rotate(-20deg);
  }
  100% {
    color: yellow;
    transform: rotate(20deg);
  }
}

@keyframes balls {
  from {
    transform: scale(1.03);
  }
  to {
    opacity: 0.7;
  }
}

@media only screen and (max-width: 600px) {
  .description {
    display: none;
  }
}
